body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #515151;
  text-align: left;
  background-color: #fff;
}

#column-sidebar,
#column-content {
  padding: 0 !important;
}
/* 
.spur-card {
  border: 1px solid #d3d3d3;
  background: #fff;
  margin-bottom: 30px;
}
.spur-card .card-header {
  min-height: 57px;
  background-color: #f0f1f7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 32px;
}
.spur-card .card-body {
  padding: 24px 32px;
}
@media (max-width: 767.98px) {
  .spur-card .card-body {
    padding: 12px 18px;
  }
}

.spur-card-icon {
  margin-right: 20px;
}

.spur-card-title {
  font-weight: bold;
}

.spur-card-menu {
  margin-left: auto;
}

.spur-card-menu-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: -15px;
}
.spur-card-menu-link::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(81, 81, 81, 0.8);
}
.text-white .spur-card-menu-link::after {
  border-top-color: #fff;
}

.spur-card-body-chart {
  position: relative;
  max-width: 99%;
}
@media (max-width: 767.98px) {
  .spur-card-body-chart {
    padding: 12px 5px;
  }
}

.same-size {
  position: relative;
  float: left;
  width: 100%;
  height: 20vw;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all;
}
.product-img {
  transform: translateX(10%);
  width: 80%;
  display: inline-block;
}

@media (max-width: 1199.98px) {
  .same-size {
    height: 15vw;
  }
}

@media (max-width: 991.98px) {
  .same-size {
    height: 35vw;
  }
}

@media (max-width: 767.98px) {
  .same-size {
    height: 45vw;
  }
  .product-img {
    transform: translateX(15%);
    width: 70%;
    display: inline-block;
  }
}

@media (max-width: 575.98px) {
  .same-size {
    height: 75vw;
  }
  .product-img {
    transform: translateX(10%);
    width: 80%;
    display: inline-block;
  }
}

.cart-badge {
  border-radius: 100%;
  background: #000;
  height: 20px;
  width: 20px;
  font-size: 14px;
  padding: 5px;
}
.cart-image {
  height: 15vw;
  width: 100%;
  object-fit: cover;
  display: block;
}

.payment-image {
  height: 50px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.old-price {
  text-decoration: line-through;
}

.payment-card-height {
  height: 100px;
}

@media (max-width: 767.98px) {
  .payment-card-height {
    height: 110px;
  }
}

.card-size {
  height: 25vh;
}
@media (max-width: 1400.98px) {
  .card-size {
    height: 25vh;
  }
}

@media (max-width: 991.98px) {
  .card-size {
    height: 30vh;
  }
}
@media (max-width: 767.98px) {
  .card-size {
    height: 45vh;
  }
}

h1 .decimal {
  font-size: 23px;
}
.terms {
  font-size: 0.8rem;
}

.terms button {
  font-size: 0.8rem;
}

.success-payment {
  fill: green;
  width: 6.5rem;
  height: 6.5rem;
  animation-name: example;
  animation-duration: 1s;
}

.input-group > .input-group-prepend {
  flex: 0 0 30%;
}
.input-group .input-group-text {
  width: 100%;
}
 */
